@font-face {
  font-family: "Whitney A";
  src: url("assets/font.ttf");
}

@font-face {
  font-family: "Whitney A";
  src: url("assets/fontbold.ttf");
  font-weight: bold;
}

html {
	background: #fff;
	color: #111;
	font-size: 20px;
	font-family: "Whitney A", Helvetica, sans-serif;
	line-height: 1.6em;
}

a {
	color: #009cdf;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

h1 {
	font-size: 300%;
}

img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content {
	max-width: 650px;
	margin: 0 auto;
	padding: 0px 16px;
}

#headshot {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	border: 5px solid #fff;
	float: right;
}