/* Global */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
@media (prefers-color-scheme: light) {
  :root {
		--backgroundColor: rgb(242, 242, 247);
		--elevatedBackgroundColor: rgb(255, 255, 255);
		--textColor:  rgb(0, 0, 0);
		--linkColor:  rgb(0, 122, 255);
	}
}

@media (prefers-color-scheme: dark) {
  :root {
		--backgroundColor: rgb(0, 0, 0);
		--elevatedBackgroundColor: rgb(28, 28, 30);
		--textColor:  rgb(255, 255, 255);
		--linkColor:  rgb(255, 159, 10);
	}
}

/* Styles */
html {
	font-family: "Helvetica Neue",-apple-system, sans-serif;
	background: var(--backgroundColor);
	color: var(--textColor);
}

main {
	max-width: 600px;
 	margin: auto;
 	padding: 16px;
}

section {
	background: var(--elevatedBackgroundColor);
	border-radius: 16px;
	padding: 16px;
}

h1 {
	font-size: 2em;
}

img {
	border-radius: 12px;
	margin-right: 16px;
	padding-top: 6px;
	width: max(40%, 60px);
	height: max(40%, 60px);
	object-fit: cover;
	float: left;
}

a {
	text-decoration: none;
	color: var(--linkColor);
}

p {
	line-height: 1.6em;
}