img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
	margin-left: 16px;
}

.app_store_badge_container {
	text-align: center;
}

.app_store_badge {
	max-width: 120px;
	max-height: 40px;
}