<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="xavi, moll, xavi moll, engineer, ios, swift, xcode, core data, ios developer, developer, barcelona, spain">
    <meta name="twitter:title" content="{{ page.title }}" />
    <!-- <meta name="twitter:description" content="{{ page.excerpt }}" /> -->
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <!-- <meta property="og:description" content="{{ page.excerpt }}" /> -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/syntax-highlighter.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>