/* Global */
* {
  margin: 0;
  padding: 0;
}

/* Colors */
@media (prefers-color-scheme: light) {
  :root {
		--backgroundColor: #F7F7F7;
		--textColor:  #323232;
	}
}

@media (prefers-color-scheme: dark) {
  :root {
		--backgroundColor: #131313;
		--textColor:  #E5E5E5;
	}
}

/* Styles */
html {
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-style: normal;
	font-size: 22px;
}

main {
	max-width: 800px;
	margin: auto;
}

h1 {
	font-size: 4.2rem;
	font-weight: bold;
}

p {
	font-weight: 300;
	line-height: 1.4rem;
}

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	color: #0088FF;
}