* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
		--backgroundColor: #F7F7F7;
		--textColor:  #323232;
		--navBorderColor: rgba(0, 0, 0, 0.1);
	}
}

@media (prefers-color-scheme: dark) {
  :root {
		--backgroundColor: #131313;
		--textColor:  #E5E5E5;
		--navBorderColor: rgba(255, 255, 255, 0.1);
	}
}

html {
	font-family: -apple-system, "Helvetica Neue", sans-serif;
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-style: normal;
	font-size: 22px;
}

#navbar {
	display: flex;
	padding-left: 24px;
	padding-right: 24px;
	position: sticky;
  top: 0;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--navBorderColor);
}

#navbar:first-child {
	padding-top: 24px;
	padding-bottom: 24px;
	justify-content: space-between;
}

#navbar > div {
	display: flex;
	gap: 24px;
	width: auto;
}

main {
	max-width: 800px;
	margin: auto;
	padding-left: 24px;
	padding-right: 24px;
}

h1 {
	font-size: 4.2rem;
	font-weight: bold;
	padding-bottom: 8px;
}

@media (max-width: 600px) {
	h1 {
		font-size: 3.7em;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 3em;
	}
}

p {
	font-weight: 300;
	line-height: 1.4rem;
}

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	color: #0088FF;
}

main > div > a > img {
	border-radius: 12%;
	margin-right: 12px;
	margin-top: 6px;
	width: max(25%, 60px);
	height: max(25%, 60px);
	float: left;
}