/* Global styles */
body {
    margin: 0 auto;
    background-color: #fff;
    color: #1e1e1e;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.8em;
}

a {
    color: rgb(0, 122, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 122, 255);
}

/* Article */
main {
    margin: 0 auto;
    max-width: 768px;
}

article {
    padding-left: 20px;
    padding-right: 20px;
}

#post_title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1em;
}

#post_subtitle {
    text-align: center;
}

#feedback_pr {
    font-size: 15px;
    line-height: 1.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Code blocks */
code.highlighter-rouge {
    background: #f6f8fa;
    border-radius: 3px;
    padding-right: 2px;
    padding-left: 2px;
}

pre.highlight {
    background: #f6f8fa;
    overflow: auto;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: rgba(0, 0, 0, 0.05);
}