<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} — {{ site.author }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="xavi, moll, xavi moll, engineer, ios, swift, xcode, core data, ios developer, developer, barcelona, spain">
    <link rel="stylesheet" href="/assets/css/syntax-highlighter.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body>
    <main>
        <article>
            {{ content }}
        </article>
    </main>
</body>
</html>