<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134623135-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134623135-1');
    </script>
    <meta charset="utf-8">
    {% if page.layout == 'post' %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.author }} - {{ page.title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="xavi, moll, xavi moll, engineer, ios, swift, xcode, core data, ios developer, developer, barcelona, spain">
    <link rel="stylesheet" href="/assets/css/syntax-highlighter.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body>
    <header>
        <h3><a href="/">Xavi Moll's</a><small> blog about iOS development</small></p>
    </header>
    <main>
        <article>
            {{ content }}
        </article>
    </main>
    <footer>
        <a href="/">HOME</a> | 
        <a href="/about">ABOUT</a> | 
        <a href="mailto:xmollv@gmail.com">CONTACT</a>
    </footer>
</body>
</html>