---
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
<body>
    <header>
        This is a header
    </header>
    <main>
        <article>
            <h1 id="post_header">{{ page.title }}</h1>
            <small>Written by {{ site.author }} &#8226; {{ page.date }}</small>
            {{ content }}
        </article>
        <p id="feedback_pull_request">Do you have something to add to this post?<br/>Feel free to open an <a href="{{ site.github_url | append:'/issues' }}">issue</a> or create a <a href="{{ site.github_url | append: '/tree/master/_posts/'}}{{ page.path | remove_first:'_posts/' }}">pull request</a>.</p>
    </main>
    <footer>
        This is a footer
    </footer>
</body>
</html>